<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Título Padrão{% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_head %}
    {% endblock %}
    
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    {% block content %}
    <h1>Bem-vindo ao meu site!</h1>
    <p>Este é um exemplo de conteúdo.</p>
    {% endblock %}

    <script src="{% static 'js/script.js' %}"></script>
    {% block extra_scripts %}
    {% endblock %}
</body>
</html>