{% extends "layouts/_base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid my-5">
    {% for categoria in categorias %}
        <h3 class="mb-3 mt-5">{{ categoria.name }}</h3>
        <div id="carrossel-{{ categoria.name|slugify }}" class="carousel slide">
            <div class="carousel-inner-wrapper">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="card-wrapper d-flex">
                            {% for movie in categoria.movie %}
                            <div class="carousel-card">
                                <div class="card-content-wrapper">
                                    <img src="{{ movie.poster_url }}" class="card-img-top" alt="{{ movie.title }}">
                                    <div class="card-hover-info">
                                        <h5 class="hover-title">{{ movie.title }}</h5>
                                        <p class="hover-description">{{ movie.overview|default:"Sem descrição." }}</p>
                                        <div class="hover-buttons">
                                            <a href="#" class="btn btn-danger btn-sm">
                                                <i class="fas fa-play pe-1"></i> Assistir
                                            </a>
                                            {% if movie.id in favoritos_ids %}
                                                <a href="{% url 'remover_favorito' movie.id %}" class="btn btn-outline-danger btn-sm">
                                                    <i class="fas fa-star-half-alt"></i>
                                                </a>
                                            {% else %}
                                                <a href="{% url 'adicionar_favorito' movie.id %}" class="btn btn-outline-warning btn-sm">
                                                    <i class="fas fa-star"></i>
                                                </a>
                                            {% endif %}
                                            {% if user.is_staff and movie.id %}
                                            <a href="{% url 'web_editar_filme' movie.id %}" class="btn btn-outline-primary btn-sm">
                                                <i class="fas fa-pencil-alt"></i>
                                            </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carrossel-{{ categoria.name|slugify }}">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carrossel-{{ categoria.name|slugify }}">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Próximo</span>
            </button>
        </div>
    {% endfor %}
</div>
{% endblock %}